@use 'var';

.news-section {
  background-color: var.$light-blue;
  overflow: hidden;
}

.news-section-content {
  position: relative;

  max-width: var.$max-width;
  margin: auto;
  padding: 128px 0;
}

.news-section-articles-container {
  position: relative;
  z-index: 1;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 64px;

  text-align: center;
}

.news-section__article {
  width: max-content;
}

.news-section__article-link {
  position: relative;

  display: grid;
  justify-items: center;
  gap: 16px;
}

.news-section__article-top {
  position: relative;
  z-index: 1;

  width: 80%;
  max-width: 400px;
}

.news-section__article-oreo-frame {
  display: block;
  width: 100%;
}

.news-section__article-top-text {
  position: absolute;
  top: 50%;
  left: 50%;

  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);

  transform: translate(-50%, -50%);
}

.news-section__article-image {
  position: absolute;
  top: 7.1%;
  left: 7.1%;
  border-radius: 50%;

  display: block;
  width: 85.8%;

  transition: opacity 750ms;

  &:hover {
    opacity: 0;
  }
}

.news-section__article-heading {
  margin: 0 0 8px;
  padding: 0 24px;
  max-width: 400px;

  font-size: 24px;
  color: var.$darker-blue;

  transition: color 300ms;

  &:hover {
    color: var.$darker-blue-accent;
  }
}

.news-section__article-date {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
}

@media(min-width: 520px) {
  .news-section__article-heading {
    font-size: 28px;
  }

  .news-section__article-date {
    font-size: 16px;
  }
}

@media(min-width: 980px) {
  .news-section-content {
    padding: 164px 32px 256px;
  }
  
  .news-section-articles-container {
    flex-direction: row;
    justify-content: center;
    gap: 64px 32px;
  }
}