$dark-blue: rgb(0, 87, 184);
$dark-blue-accent: rgb(0, 67, 164);

$darker-blue: rgb(28, 59, 126);
$darker-blue-accent: rgb(43, 77, 158);

$light-blue: rgb(0, 192, 243);
$light-blue-accent: rgb(0, 172, 243);

$max-width: 1600px;