<div class="header-placeholder"></div>

<header class="the-header">

  <div class="the-header__content">

    <a class="the-header__logo-container" href="index.php">
      <img class="the-header__logo" src="resources/images/misc/oreo-logo.png">
    </a>

    <nav class="the-header__nav">

      <ul class="the-header__nav-list">

        <li><a class="the-header__nav-list-link" href="index.php">Home</a></li>
        <li><a class="the-header__nav-list-link" href="products.php">Produkty</a></li>
        <li><a class="the-header__nav-list-link" href="videos.php">Video</a></li>
        <li><a class="the-header__nav-list-link" href="news.php">News</a></li>
        <li><a class="the-header__nav-list-link" href="contact.php">Kontakt</a></li>

      </ul>

    </nav>

    <div class="the-header__buttons-container">

      <div class="language-chooser">

        <button class="language-chooser__button">

          <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">

          <svg class="language-chooser__arrow-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 60 35">
            <polyline points="5,5 30,30 55,5" fill="transparent" stroke-width="7" stroke="white"></polyline>
          </svg>

        </button>

        <div class="language-chooser__list-container">

          <ul class="language-chooser__list">
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/germany.png">
                <span>Germany</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/germany.png">
                <span>Germany</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/germany.png">
                <span>Germany</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/germany.png">
                <span>Germany</span>
              </a>
            </li>  

            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/germany.png">
                <span>Germany</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/germany.png">
                <span>Germany</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">
                <span>Poland</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">
                <span>Poland</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">
                <span>Poland</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">
                <span>Poland</span>
              </a>
            </li>

            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">
                <span>Poland</span>
              </a>
            </li>
  
            <li>
              <a class="language-chooser__list-link">
                <img class="language-chooser__flag-icon" src="resources/images/icons/poland.png">
                <span>Poland</span>
              </a>
            </li>
  
          </ul>

        </div>

      </div>

      <button class="the-header__menu-button">
        
        <svg class="the-header__menu-button-menu-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" viewBox="0 0 50 34" stroke-width="7" stroke="white">
          <line x1="5" y1="5" x2="45" y2="5"></line>
          <line x1="5" y1="17" x2="45" y2="17"></line>
          <line x1="5" y1="29" x2="45" y2="29"></line>
        </svg>

        <svg class="the-header__menu-button-close-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 45 45" stroke-width="7" stroke="white">
          <line x1="5" y1="5" x2="40" y2="40"></line>
          <line x1="5" y1="40" x2="40" y2="5"></line>
        </svg>

      </button>

    </div>

  </div>

</header>