@use '../general/var';

.chill-out {
  overflow: hidden;
  background-color: var.$light-blue;
}

.chill-out-content {
  position: relative;

  max-width: var.$max-width;
  margin: auto;
  padding: 128px 0;
}

.chill-out-not-images {
  position: relative;
  z-index: 1;
}

.chill-out__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
}

.chill-out__heading-svg-2 {
  position: relative;
  top: -18px;
}

.chill-out__product-container {
  display: flex;
  justify-content: center;
}

.chill-out__product-image {
  display: block;
  margin: 32px 0 64px;

  transition: 300ms;

  &:hover {
    transform: rotate(10deg) scale(1.1, 1.1);
  }
}

.chill-out__product-name {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;

  &:hover {
    color: var.$dark-blue;
  }
}

.chill-out__drawing {
  position: absolute;
}

.chill-out__drawing-1 {
  top: -50px;
  left: -30px;

  width: clamp(150px, 25vw, 300px);

  animation: chill-out-drawing-1-animation 3s infinite alternate ease-in-out;
}

.chill-out__drawing-2 {
  bottom: 10px;
  left: 15px;

  width: clamp(85px, 11vw, 120px);

  animation: chill-out-drawing-2-animation 2.5s infinite alternate ease-in-out;
}

.chill-out__drawing-3 {
  bottom: 80px;
  right: -55px;

  width: clamp(160px, 27vw, 320px);

  animation: chill-out-drawing-3-animation 4s infinite alternate ease-in-out;
}

@keyframes chill-out-drawing-1-animation {
  to {
    transform: rotateZ(20deg);
  }
}

@keyframes chill-out-drawing-2-animation {
  to {
    transform: translateY(-30px);
  }
}

@keyframes chill-out-drawing-3-animation {
  to {
    transform: translateY(-50px);
  }
}